In [1]:
import pandas as pd
import glob
import mysql.connector
import urllib.request
from bs4 import BeautifulSoup
from selenium import webdriver
import time
import json
import urllib.parse
import requests
import re

In [2]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:123456@localhost:3306/sendo')

In [2]:
df = pd.read_csv("./data/processed_data.csv", encoding="utf-8")

In [3]:
# rearrange data fields
data = df[['time', 'order_id', 'user_id', 'product_id', 'product_name', 'description', 'amount', 'price']]

In [4]:
data.head()

,time,order_id,user_id,product_id,product_name,description,amount,price
0,2016-09-05,XBH011609/006,BDS49BDS,LTSCORMH374SCA1,Corner Sofa Set_Middle_H374,Xuất bán T09/06- DYKEH ngày ETD 5/9/2016,68.0,1812.88
1,2016-09-05,XBH011609/005,BDS49BDS,LTSCORMH374SCA1,Corner Sofa Set_Middle_H374,Xuất bán T09/05- DYKEH ngày ETD 5/9/2016,68.0,1812.88
2,2016-09-05,XBH011609/005,BDS49BDS,LTSCORCH374SCA1,Corner Sofa Set_Corner_H374,Xuất bán T09/05- DYKEH ngày ETD 5/9/2016,34.0,1813.22
3,2016-09-05,XBH011609/005,BDS49BDS,LTSCOR1H374SCA1,Corner Sofa Set_ArmChair_H374,Xuất bán T09/05- DYKEH ngày ETD 5/9/2016,34.0,1813.22
4,2016-09-05,XBH011609/004,BDS49BDS,LTTCORVH374SCA1,Corner Sofa Set_Table_H374,Xuất bán T09/04- DYKEH ngày ETD 5/9/2016,34.0,1814.24

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2415 entries, 0 to 2414
Data columns (total 8 columns):
time            2415 non-null object
order_id        2415 non-null object
user_id         2415 non-null object
product_id      2415 non-null object
product_name    2415 non-null object
description     2415 non-null object
amount          2415 non-null float64
price           2415 non-null float64
dtypes: float64(2), object(6)
memory usage: 151.1+ KB

In [6]:
data.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
time,2415,224,2017-01-21,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
order_id,2415,1132,XBH011606/026,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_id,2415,45,AQU49LCW,422,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,2415,496,LTCGUD1F310SPA1,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_name,2415,495,Gudhjem Chair_F310,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,2415,1131,Xuất bán T06/26 - LT9516CLFA ngày ETD 26/6/2016,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amount,2415,NaN,NaN,NaN,382.737,567.262,1,14,78,720,5040
price,2415,NaN,NaN,NaN,5540.1,6231.51,0,637.2,2618,10080,31620

In [7]:
data.to_sql(con=engine, name='buy', if_exists='replace', method="multi", index=True, index_label="id",chunksize=100, schema="recsys")

NameError: name 'engine' is not defined

In [10]:
user_data = data[["user_id"]]
user_data = user_data.drop_duplicates()
user_data.head()

      user_id
0    BDS49BDS
6    AQU57FAL
11   NOR49GLO
40  NTH852NTH
42   NIN61NIN

In [11]:
user_data.describe().T

        count unique       top freq
user_id    45     45  LIK46JYS    1

In [13]:
user_data.to_csv("./data/user_db.csv", index=False, header=False)

In [ ]:
user_data.to_sql(con=engine, name='user', if_exists='replace', method="multi", index=True, index_label="id",chunksize=100, schema="recsys")

In [14]:
product_data = data[["product_id", "product_name", "amount", "price"]]

In [15]:
product_data["total_price"] = product_data["price"]
product_data["price"] = product_data[["total_price", "amount"]].apply(lambda x: x["total_price"]/x["amount"], axis=1)

C:\Users\NHAT TRUONG\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\NHAT TRUONG\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
product_data.head()

        product_id                   product_name  amount  price  total_price
0  LTSCORMH374SCA1    Corner Sofa Set_Middle_H374    68.0  26.66      1812.88
1  LTSCORMH374SCA1    Corner Sofa Set_Middle_H374    68.0  26.66      1812.88
2  LTSCORCH374SCA1    Corner Sofa Set_Corner_H374    34.0  53.33      1813.22
3  LTSCOR1H374SCA1  Corner Sofa Set_ArmChair_H374    34.0  53.33      1813.22
4  LTTCORVH374SCA1     Corner Sofa Set_Table_H374    34.0  53.36      1814.24

In [17]:
product_data = product_data[["product_id", "product_name", "price"]].drop_duplicates(subset=["product_id", "product_name"])

In [20]:
product_data.to_csv("./data/product_db.csv", index=False, header=False, sep=";")

In [35]:
product_data.to_sql(con=engine, name='product', if_exists='replace', method="multi", index=True, index_label="id",chunksize=100, schema="recsys")

In [33]:
product_data[["product_id", "product_name", "price"]].drop_duplicates(subset=["product_id", "product_name"]).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 496 entries, 0 to 2394
Data columns (total 3 columns):
product_id      496 non-null object
product_name    496 non-null object
price           496 non-null float64
dtypes: float64(1), object(2)
memory usage: 15.5+ KB