In [184]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, Normalizer, StandardScaler
import scipy.sparse as sparse
import implicit

In [185]:
df2 = pd.read_csv("./data/processed_data.csv", encoding="utf-8")

In [186]:
df2.head()

,user_id,order_id,time,description,product_id,product_name,amount,price
0,BDS49BDS,XBH011609/006,2016-09-05,Xuất bán T09/06- DYKEH ngày ETD 5/9/2016,LTSCORMH374SCA1,Corner Sofa Set_Middle_H374,68.0,1812.88
1,BDS49BDS,XBH011609/005,2016-09-05,Xuất bán T09/05- DYKEH ngày ETD 5/9/2016,LTSCORMH374SCA1,Corner Sofa Set_Middle_H374,68.0,1812.88
2,BDS49BDS,XBH011609/005,2016-09-05,Xuất bán T09/05- DYKEH ngày ETD 5/9/2016,LTSCORCH374SCA1,Corner Sofa Set_Corner_H374,34.0,1813.22
3,BDS49BDS,XBH011609/005,2016-09-05,Xuất bán T09/05- DYKEH ngày ETD 5/9/2016,LTSCOR1H374SCA1,Corner Sofa Set_ArmChair_H374,34.0,1813.22
4,BDS49BDS,XBH011609/004,2016-09-05,Xuất bán T09/04- DYKEH ngày ETD 5/9/2016,LTTCORVH374SCA1,Corner Sofa Set_Table_H374,34.0,1814.24

In [187]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2415 entries, 0 to 2414
Data columns (total 8 columns):
user_id         2415 non-null object
order_id        2415 non-null object
time            2415 non-null object
description     2415 non-null object
product_id      2415 non-null object
product_name    2415 non-null object
amount          2415 non-null float64
price           2415 non-null float64
dtypes: float64(2), object(6)
memory usage: 151.1+ KB

In [188]:
df2.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
user_id,2415,45,AQU49LCW,422,NaN,NaN,NaN,NaN,NaN,NaN,NaN
order_id,2415,1132,XBH011606/026,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time,2415,224,2017-01-21,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,2415,1131,Xuất bán T06/26 - LT9516CLFA ngày ETD 26/6/2016,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,2415,496,LTCGUD1F310SPA1,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_name,2415,495,Gudhjem Chair_F310,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amount,2415,NaN,NaN,NaN,382.737,567.262,1,14,78,720,5040
price,2415,NaN,NaN,NaN,5540.1,6231.51,0,637.2,2618,10080,31620

### Summary
- user
    - Total: 45
    - Most freq buyer: AQU49LCW (422 times)
    - 
- product
    - Total: 496
    - Most popular product: LTCGUD1F310SPA1 (86 times)

In [189]:
df2["time"] = df2["time"].astype(np.datetime64)
df2["user_id"] = df2["user_id"].astype("category")
df2["product_id"] = df2["product_id"].astype("category")
df2["is_train"] = 1
df2["user_id"] = df2["user_id"].astype("category").cat.codes
df2["product_id"] = df2["product_id"].astype("category").cat.codes
df2.sort_values(by=['time'], inplace=True)
df2.reset_index(drop=True,inplace=True)
df2

,user_id,order_id,time,description,product_id,product_name,amount,price,is_train
0,37,XBH011605/001,2016-05-04,Xuất bán T05/01- 266-G ngày ETD 07/05/2016,94,King Chair_H224,122.0,8418.0,1
1,21,XBH011605/002,2016-05-05,Xuất bán T05/02-LTINV0213 ngày ETD 9/5/2016,73,Gudhjem Chair_F210,1512.0,16480.8,1
2,8,XHM011605/001,2016-05-06,Xuất bán hàng mẫu -SAMPLE 06052016,232,Mẫu Sectional roma set (K/D)_LSX16031,1.0,179.0,1
3,21,XBH011605/007,2016-05-06,Xuất bán T05/07- LTINV6740 ngày ETD 12/5/2016,73,Gudhjem Chair_F210,1512.0,16480.8,1
4,21,XBH011605/006,2016-05-06,Xuất bán T05/06- LTINV7506 ngày ETD 08/5/2016,73,Gudhjem Chair_F210,1512.0,16480.8,1
...,...,...,...,...,...,...,...,...,...
2410,20,XBH011704/141,2017-04-28,Xuất bán T04/141 - 26982/2131201 - LSX 73,494,Nút nhựa f27.6 (bali),5040.0,0.0,1
2411,20,XBH011704/141,2017-04-28,Xuất bán T04/141 - 26982/2131201 - LSX 73,138,Nệm ngồi Bali,720.0,1224.0,1
2412,21,XBH011704/143,2017-04-28,Xuất bán T04/143 - LTINV3100 - LSX 35,38,New Bork Chair F310,720.0,10512.0,1
2413,21,XBH011704/140,2017-04-28,Xuất bán T04/140 - LTINV7042 - LSX 35,26,New Birkemose Chair_F310,1976.0,20056.4,1
2414,21,XBH011704/144,2017-04-28,Xuất bán T04/144 - LTINV3101 - LSX 35,38,New Bork Chair F310,720.0,10512.0,1

In [190]:
def train_test_split(sample_df):
    test_idx = int((1-0.3)*len(sample_df))
    if test_idx > 0:
        sample_df.is_train.iloc[test_idx:] = 0
    return sample_df
train_test_split_df = df2.groupby(["user_id"]).apply(train_test_split)
train_test_split_df.to_csv("./data/company_train_test_splitted_data_new_041219.csv", index=False)

In [191]:
train_df = train_test_split_df[train_test_split_df.is_train == 1]
test_df = train_test_split_df[train_test_split_df.is_train == 0]

In [192]:
train_df.describe(include="all").T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
user_id,1669,NaN,NaN,NaN,NaT,NaT,17.6195,11.8992,0,4,21,25,44
order_id,1669,810,XBH011606/026,35,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time,1669,191,2016-12-31 00:00:00,82,2016-05-04,2017-04-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,1669,809,Xuất bán T06/26 - LT9516CLFA ngày ETD 26/6/2016,35,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,1669,NaN,NaN,NaN,NaT,NaT,188.212,151.958,0,52,129,355,491
product_name,1669,392,Gudhjem Chair_F310,56,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amount,1669,NaN,NaN,NaN,NaT,NaT,392.724,567.394,1,14,80,720,1976
price,1669,NaN,NaN,NaN,NaT,NaT,5663.58,6281.38,0,652,2618,10080,31312
is_train,1669,NaN,NaN,NaN,NaT,NaT,1,0,1,1,1,1,1

In [193]:
test_df.describe(include="all").T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
user_id,746,NaN,NaN,NaN,NaT,NaT,17.8338,12.0145,0,4,21,26.75,44
order_id,746,362,XBH011701/129,21,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time,746,100,2017-01-21 00:00:00,57,2016-05-06,2017-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,746,362,"Xuất bán T01/129 - HEINSTAD, BRAFREI, OSTWIT1 ...",21,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,746,NaN,NaN,NaN,NaT,NaT,201.193,158.424,2,56.25,144.5,364.75,495
product_name,746,292,New Bork Chair_F314,31,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amount,746,NaN,NaN,NaN,NaT,NaT,360.394,566.712,1,12.25,60,720,5040
price,746,NaN,NaN,NaN,NaT,NaT,5263.86,6113.61,0,564.4,2400,10077.2,31620
is_train,746,NaN,NaN,NaN,NaT,NaT,0,0,0,0,0,0,0

In [196]:
def processing_df(df):
    p_df = train_df[["user_id", "product_id"]]
    p_df["point"] = 1.0
    p_df = p_df.groupby(["user_id", "product_id"]).point.count().reset_index()
    p_df["minmax_scaled"] = MinMaxScaler().fit_transform(p_df.point.values.astype(float).reshape(-1, 1))
    p_df["standard_scaled"] = StandardScaler().fit_transform(p_df.point.values.astype(float).reshape(-1, 1))
    return p_df

In [222]:
train_data = processing_df(train_test_split_df)
train_data

C:\Users\NHAT TRUONG\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     user_id  product_id  point  minmax_scaled  standard_scaled
0          0          42      1           0.00        -0.397880
1          0         287      1           0.00        -0.397880
2          0         288      1           0.00        -0.397880
3          1         327      1           0.00        -0.397880
4          1         328      1           0.00        -0.397880
..       ...         ...    ...            ...              ...
445       43         272      1           0.00        -0.397880
446       43         275      1           0.00        -0.397880
447       43         276      1           0.00        -0.397880
448       43         277      1           0.00        -0.397880
449       44          34      2           0.02        -0.251001

[450 rows x 5 columns]

In [223]:
train_data.describe(include="all").T

,count,mean,std,min,25%,50%,75%,max
user_id,450.0,1.844667e+01,13.290922,0.00000,5.00000,14.00000,30.000000,44.000000
product_id,450.0,2.330044e+02,142.107115,0.00000,112.25000,221.50000,357.750000,491.000000
point,450.0,3.708889e+00,6.815884,1.00000,1.00000,1.00000,3.000000,51.000000
minmax_scaled,450.0,5.417778e-02,0.136318,0.00000,0.00000,0.00000,0.040000,1.000000
standard_scaled,450.0,7.105427e-17,1.001113,-0.39788,-0.39788,-0.39788,-0.104121,6.946091

In [224]:
# Points of users-products 
points = list(train_data.minmax_scaled)
# Get the rows and columns for the above points
u_loc = train_data.user_id.astype(int)
p_loc = train_data.product_id.astype(int)

In [225]:
UserI_sparse = sparse.csr_matrix((points, (u_loc, p_loc)), shape=(len(df2.user_id.unique()), len(df2.product_id.unique())))
ItemU_sparse = sparse.csr_matrix((points, (p_loc, u_loc)), shape=(len(df2.product_id.unique()), len(df2.user_id.unique())))

In [226]:
matrix_size = ItemU_sparse.shape[0]*ItemU_sparse.shape[1] # Number of possible interactions in the matrix
num_purchases = len(ItemU_sparse.nonzero()[0]) # Number of items interacted with
sparsity = 100*(1 - (num_purchases/matrix_size))
sparsity

99.20698924731182

In [242]:
%%time
model_als= implicit.als.AlternatingLeastSquares(factors=256, iterations=100, calculate_training_loss=True)
alpha_val = 100
data_conf = (ItemU_sparse * alpha_val).astype('double')

#Fit the model
model_als.fit(data_conf)

HBox(children=(IntProgress(value=0), HTML(value='')))

Wall time: 3.16 s

In [249]:
test_data = processing_df(train_test_split_df)
total_tp = 0
for u_id in list(np.sort(test_data.user_id.unique())):
    user_df = test_data[test_data.user_id == u_id]
    user_future_liked_products = np.sort(list(user_df.product_id.unique()))
    total_will_liked_products = len(user_future_liked_products)
    recommended = model_als.recommend(u_id, UserI_sparse, N=50, recalculate_user=True, filter_already_liked_items=False)
#     product_ids = [x[0] for x in recommended if x[0] in user_future_liked_products]
#     print(user_future_liked_products, end="---")
#     print("predict:", np.sort(product_ids))
    TP = 0
    for p, s in recommended:
        if p in user_future_liked_products:
            TP += 1
            total_tp += 1
    if n_items > total_will_liked_products:
        acc = TP/total_will_liked_products
    else:
        acc = TP/n_items        
    accuracy.append(acc*100)
np.mean(accuracy)

C:\Users\NHAT TRUONG\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

57.47742540706342

In [204]:
n_items = len(df2.product_id.unique())
accuracy = []
test_data = processing_df(train_test_split_df)
shape = (model_als.user_factors.shape[0], model_als.item_factors.shape[0])
p_ids = list(test_data.product_id.astype(int))
u_ids = list(test_data.user_id.astype(int))
ui_sparse = sparse.csr_matrix((list(test_data.minmax_scaled), (u_ids, p_ids)), shape=(len(df2.user_id.unique()), len(df2.product_id.unique())))
count = 0
total_tp = 0
for u_id in list(np.sort(test_data.user_id.unique())):
    user_df = test_data[test_data.user_id == u_id]
    user_future_liked_products = set(list(user_df.product_id.unique()))
    total_will_liked_products = len(user_future_liked_products)
    recommended = model_als.recommend(u_id, ui_sparse, N=n_items, recalculate_user=False)

    TP = 0
    for p, s in recommended:
        if p in user_future_liked_products:
            TP += 1
            total_tp += 1
            print(total_tp)
    if n_items > total_will_liked_products:
        acc = TP/total_will_liked_products
    else:
        acc = TP/n_items        
    accuracy.append(acc*100)
    if count % 10000 == 0:
        print("{}: {}".format(count,np.mean(accuracy)))
    count += 1
np.mean(accuracy)

C:\Users\NHAT TRUONG\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0: 0.0

0.0

In [183]:
accuracy

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [6]:
from datetime import datetime

In [7]:
df = pd.read_csv("./data/events.csv", encoding="utf-8")

In [8]:
df.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [9]:
df["time"] = df.timestamp.apply(lambda x: datetime.utcfromtimestamp(x//1000.0).strftime('%Y-%m-%d %H:%M:%S'))
df = df.sort_values(by=["time"])
df.drop(columns=["transactionid", "timestamp"], inplace=True)

In [10]:
df.visitorid = df.visitorid.astype(str)
df.itemid = df.itemid.astype(str)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2756101 entries, 1462974 to 1459312
Data columns (total 4 columns):
visitorid    object
event        object
itemid       object
time         object
dtypes: object(4)
memory usage: 105.1+ MB

In [13]:
df.describe(include="all").T

             count   unique                  top     freq
visitorid  2756101  1407580              1150086     7757
event      2756101        3                 view  2664312
itemid     2756101   235061               187946     3412
time       2756101  2357232  2015-05-14 16:40:13       28

In [14]:
df.head(3)

        visitorid      event  itemid                 time
1462974    693516  addtocart  297662  2015-05-03 03:00:04
1464806    829044       view   60987  2015-05-03 03:00:11
1463000    652699       view  252860  2015-05-03 03:00:13

### Summary
- user
    - Total: 1407580
    - Most freq buyer: 1150086 (7757 times)
    - 
- product
    - Total: 235061
    - Most popular product: 187946 (3412 times)

In [15]:
df2.head()

,user_id,order_id,time,description,product_id,product_name,amount,price
0,BDS49BDS,XBH011609/006,2016-09-05,Xuất bán T09/06- DYKEH ngày ETD 5/9/2016,LTSCORMH374SCA1,Corner Sofa Set_Middle_H374,68.0,1812.88
1,BDS49BDS,XBH011609/005,2016-09-05,Xuất bán T09/05- DYKEH ngày ETD 5/9/2016,LTSCORMH374SCA1,Corner Sofa Set_Middle_H374,68.0,1812.88
2,BDS49BDS,XBH011609/005,2016-09-05,Xuất bán T09/05- DYKEH ngày ETD 5/9/2016,LTSCORCH374SCA1,Corner Sofa Set_Corner_H374,34.0,1813.22
3,BDS49BDS,XBH011609/005,2016-09-05,Xuất bán T09/05- DYKEH ngày ETD 5/9/2016,LTSCOR1H374SCA1,Corner Sofa Set_ArmChair_H374,34.0,1813.22
4,BDS49BDS,XBH011609/004,2016-09-05,Xuất bán T09/04- DYKEH ngày ETD 5/9/2016,LTTCORVH374SCA1,Corner Sofa Set_Table_H374,34.0,1814.24

In [16]:
df2["event"] = "transaction"

In [17]:
df2.head(2)

,user_id,order_id,time,description,product_id,product_name,amount,price,event
0,BDS49BDS,XBH011609/006,2016-09-05,Xuất bán T09/06- DYKEH ngày ETD 5/9/2016,LTSCORMH374SCA1,Corner Sofa Set_Middle_H374,68.0,1812.88,transaction
1,BDS49BDS,XBH011609/005,2016-09-05,Xuất bán T09/05- DYKEH ngày ETD 5/9/2016,LTSCORMH374SCA1,Corner Sofa Set_Middle_H374,68.0,1812.88,transaction

In [20]:
import random
df["product_name"] = df.itemid.apply(lambda x: "item noname #{}".format(x))
listprice = df2.price.unique()
df["price"] = df.itemid.apply(lambda x: random.choice(listprice))
df["amount"] = 1.0
df.head(2)

,visitorid,event,itemid,time,product_name,price,amount
1462974,693516,addtocart,297662,2015-05-03 03:00:04,item noname #297662,82.0,1.0
1464806,829044,view,60987,2015-05-03 03:00:11,item noname #60987,10266.0,1.0

In [21]:
df2 = df2[['time', 'event', 'user_id', 'product_id', "product_name", "amount", "price"]]
df = df[['time', 'event', 'visitorid', 'itemid', "product_name", "amount", "price"]]
new_columns = ['time', 'event', 'user_id', 'product_id', "product_name", "amount", "price"]
df.columns = new_columns
df2.columns = new_columns

In [22]:
df.append(df2, ignore_index=True)

,time,event,user_id,product_id,product_name,amount,price
0,2015-05-03 03:00:04,addtocart,693516,297662,item noname #297662,1.0,82.0
1,2015-05-03 03:00:11,view,829044,60987,item noname #60987,1.0,10266.0
2,2015-05-03 03:00:13,view,652699,252860,item noname #252860,1.0,4920.0
3,2015-05-03 03:00:24,view,1125936,33661,item noname #33661,1.0,9015.5
4,2015-05-03 03:00:26,view,693516,297662,item noname #297662,1.0,2235.6
...,...,...,...,...,...,...,...
2758511,2017-01-10,transaction,MET852MGB,LTCPRI1F310SK1,Prisca Chair_F310,540.0,8262.0
2758512,2017-01-10,transaction,MET852MGB,LTCBIS1F310SP1,Bistro Chair_F310,336.0,3528.0
2758513,2017-01-10,transaction,LIK45JYS,LTCNEW1F310SCA1,Idskov Lounge Set_Armchair_F310,160.0,1696.0
2758514,2017-01-10,transaction,LIK45JYS,LTCNEW2F310SCA1,Idskov Lounge Set_Bench_F310,80.0,3253.6
2758515,2017-01-10,transaction,LIK45JYS,LTTNEW1F310SCA1,Idskov Lounge Set_Table_F310,80.0,1650.4

In [23]:
newdf = df.append(df2, ignore_index=True)

In [24]:
newdf

,time,event,user_id,product_id,product_name,amount,price
0,2015-05-03 03:00:04,addtocart,693516,297662,item noname #297662,1.0,82.0
1,2015-05-03 03:00:11,view,829044,60987,item noname #60987,1.0,10266.0
2,2015-05-03 03:00:13,view,652699,252860,item noname #252860,1.0,4920.0
3,2015-05-03 03:00:24,view,1125936,33661,item noname #33661,1.0,9015.5
4,2015-05-03 03:00:26,view,693516,297662,item noname #297662,1.0,2235.6
...,...,...,...,...,...,...,...
2758511,2017-01-10,transaction,MET852MGB,LTCPRI1F310SK1,Prisca Chair_F310,540.0,8262.0
2758512,2017-01-10,transaction,MET852MGB,LTCBIS1F310SP1,Bistro Chair_F310,336.0,3528.0
2758513,2017-01-10,transaction,LIK45JYS,LTCNEW1F310SCA1,Idskov Lounge Set_Armchair_F310,160.0,1696.0
2758514,2017-01-10,transaction,LIK45JYS,LTCNEW2F310SCA1,Idskov Lounge Set_Bench_F310,80.0,3253.6
2758515,2017-01-10,transaction,LIK45JYS,LTTNEW1F310SCA1,Idskov Lounge Set_Table_F310,80.0,1650.4

In [29]:
newdf.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
time,2758516,2357456,2017-01-21,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
event,2758516,3,view,2664312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_id,2.75852e+06,NaN,NaN,NaN,706606,406531,0,355922,707408,1.0596e+06,1.40762e+06
product_id,2.75852e+06,NaN,NaN,NaN,117964,67649.9,0,60099,117317,176517,235556
product_name,2758516,235556,item noname #187946,3412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amount,2.75852e+06,NaN,NaN,NaN,1.3342,20.2253,1,1,1,1,5040
price,2.75852e+06,NaN,NaN,NaN,3601.19,4748.36,0,552,1870,4508,31620

In [27]:
newdf["user_id"] = newdf["user_id"].astype("category").cat.codes
newdf["product_id"] = newdf["product_id"].astype("category").cat.codes

In [28]:
newdf

,time,event,user_id,product_id,product_name,amount,price
0,2015-05-03 03:00:04,addtocart,1067045,110526,item noname #297662,1.0,82.0
1,2015-05-03 03:00:11,view,1217632,213271,item noname #60987,1.0,10266.0
2,2015-05-03 03:00:13,view,1021692,85424,item noname #252860,1.0,4920.0
3,2015-05-03 03:00:24,view,139933,132332,item noname #33661,1.0,9015.5
4,2015-05-03 03:00:26,view,1067045,110526,item noname #297662,1.0,2235.6
...,...,...,...,...,...,...,...
2758511,2017-01-10,transaction,1407607,235185,Prisca Chair_F310,540.0,8262.0
2758512,2017-01-10,transaction,1407607,235091,Bistro Chair_F310,336.0,3528.0
2758513,2017-01-10,transaction,1407601,235173,Idskov Lounge Set_Armchair_F310,160.0,1696.0
2758514,2017-01-10,transaction,1407601,235174,Idskov Lounge Set_Bench_F310,80.0,3253.6
2758515,2017-01-10,transaction,1407601,235507,Idskov Lounge Set_Table_F310,80.0,1650.4

In [31]:
newdf.to_csv("data/fullevent_db.csv", sep=";", index=False)